p,
pre {
  margin: 0;
}

.square {
  aspect-ratio: 1 / 1;
}

.ant-popover-inner-content {
  padding: 0;
}

.ant-message-custom-content {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 1px;
  background: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e0e0e0;
}

:root {
  overflow: auto;
}
